# Credentials and Secrets
.env

kingston.py

# Local Data and State
budget_state.json
bins.json
stations.json
*.json

# Python Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/
downloads/
*.egg-info/

# System files
.DS_Store